<div class="tour-name">

  <h2> <%= @tour.name %> </h2>
</div>



<div id="map"></div>




<div class="add-stop">
  <form class="new stop" action="/tour/<%=@tour.id %>/new_stop" method="get">
    <input type="submit" id="add-stop-submit" value="Click To Add A Stop" >
  </form>
</div>


<% @tour.stops.each do |stop| %>



<div class="tour-stops">
  <button type="button" class = "stop-select" value= "<%= stop.id %>"> <%= stop.city %></button>
  <div class="stop-info" style= "display:none">
    <div>Playing at <a href="<%= Venue.find(stop.venue_id).website %>" target="_blank"><%=Venue.find(stop.venue_id).name %> </a> for $<%=Venue.find(stop.venue_id).pay %></div>
    <div>Staying at <a href=" <%= Lodging.find(stop.lodging_id).website %> " target="_blank"> <%=Lodging.find(stop.lodging_id).name %></a> costing $<%=Lodging.find(stop.lodging_id).cost %> a night </div>
  </div>
</div>


<div class="map-venue-name" style= "display:none">
<%= stop.city %>
<br>
<%= Venue.find(stop.venue_id).name %>

</div>
<div class="venue-locations" style= "display:none">

<%= Venue.find(stop.venue_id).lat %>, <%= Venue.find(stop.venue_id).lng %>



</div>


<% end %>




<br>
<br>

<div class="budget-name">
  <h3><%= @tour.name %> Budget</h3>
</div>

<div class="budget-container">
<% @tour.stops.each do |stop| %>
<div class="budget-line">
  <div class="budget budget-city"> <%= stop.city %> </div>
  <div class="budget budget-pay"><%=Venue.find(stop.venue_id).pay %> </div>
  <div class="budget budget-cost">-<%=Lodging.find(stop.lodging_id).cost %> </div>
  <div class="budget line-total"><%= @line_total %></div>

</div>
<% end %>
<div id="budget-total"></div>
</div>




<script type="text/javascript" src="/javascript/tour.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD59wilkQcGAHHYFzikCqJhMqiUHKzHBqw&callback=initMap"></script>
