<h2> <%= @tour.name %> </h2>

<div id="map"></div>





<h3>Add A Stop</h3>
<form class="new stop" action="/tour/<%=@tour.id %>/new_stop" method="get">
  <input type="submit" value="New Stop">
</form>


<% @tour.stops.each do |stop| %>



<div>
  <button type="button" class = "stop-select" value= "<%= stop.id %>"> <%= stop.city %></button>
  <div class="stop-info" style= "display:none">
    <div>Playing at <a href="<%= Venue.find(stop.venue_id).website %>" target="_blank"><%=Venue.find(stop.venue_id).name %> </a> for $<%=Venue.find(stop.venue_id).pay %></div>
    <div>Staying at <a href=" <%= Lodging.find(stop.lodging_id).website %> " target="_blank"> <%=Lodging.find(stop.lodging_id).name %></a> costing $<%=Lodging.find(stop.lodging_id).cost %> a night </div>
  </div>
</div>

<div class="venue-locations">
<%= Venue.find(stop.venue_id).lat %>, <%= Venue.find(stop.venue_id).lng %>



</div>


<% end %>




<br>
<br>

<h3>Budget Stuff</h3>





<script type="text/javascript" src="/javascript/tour.js"></script>
